* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-size: 10px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(111, 29, 253, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.header__title {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 10px 0;
}

.header__title h1 {
  color: #fcb045;
  font-family: "Sigmar One", cursive, sans-serif;
  font-size: 4rem;
  font-weight: 500;
}

.header__title h2 {
  color: #fcb045;
  font-family: "Ubuntu", cursive, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}
.container-baloes {
  height: 100%;
  width: 100%;
  background-color: #161616;
}

.dados-jogo {
  display: flex;
  align-items: center;
  margin-right: 120px;
}

button {
  cursor: pointer;
  font-family: "Ubuntu", cursive, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.btn {
  display: inline-block;
  margin: 1px 40px;
  padding: 1rem 1.5rem;
  text-decoration: none;
  background: #6316d3;
  color: #f9ad48;
  border: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 0 1px #f9ad48;

  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.btn:active {
  box-shadow: 0 0 0 0 #f9ad48, inset 3px 3px 3px #f9ad48;
  transform: translate(3px, 3px);
}

.score {
  padding: 1rem 2rem;
  background: #6316d3;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 0 1px #f9ad48;
  
}

.score p,
.updated-score {
  font-family: "Ubuntu", cursive, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #f9ad48;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.balao {
  width: 100px;
  position: absolute;
}

@media (max-width: 700px) {
  .header__title h1 {
    font-size: 40px;
    text-align: center;
  }

  .dados-jogo {
    flex-direction: column;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  .btn {
    margin: 1.5px 1.5px 12px 1.5px;
    padding: 0.5rem;
  }

  button {
    font-size: 2rem;
  }

  
  .score p,
  .updated-score {
    font-size: 1.5rem;
  }
}
